<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">JajMed</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ data.article_title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ data.authors }}</h6>
    <p class="card-text">{{abstract}}</p>
    <p class="card-link">{{ data.date }}</p>
      {% for item in tags %}
          <p>Wikidata to <a href="{{item.tagURL}}" target="_blank" rel="noopener noreferrer"> {{ item.custom_name}} </a></p>
      {% endfor %}
  </div>
    <div class="container">
    <a href="#"  onclick="func()" class="card-link">Tag</a>
      <div id="tag" style="display:none" >
          <br>
          <form name="search" action="{{ data.id }}/saveTag" method="post">
            <input type="text" id="tagSearch" class="form-control" name="tagbox">
              <br>
              <input type="text" id="customTagName" class="form-control" style="display:none" name="customTagBox">
              <br>
              <input type="submit" id="tagSubmit" value="Save Tag" disabled>
          </form>
      </div>
    </div>
    <br>
  </div>
    <br>
    <form action="/lastq">
    <input type="submit" value="Back to Search Results"/>
    </form>
</div>
</div>
</body>
</html>
<script>
 function func ()
 {
  document.getElementById('tag').style.display = 'block';
 }

const input = document.getElementById('tagSearch');

input.addEventListener('keyup', searchTag);

function searchTag(e) {
   const key = document.getElementById("tagSearch").value
   // alert(key)
   document.getElementById('customTagName').value = ""
   document.getElementById('customTagName').style.display = 'none';
  fetch(`/fetch/wikidata/${key}`)
    .then(response => response.json())
    .then(data => {
        console.log(data)
        $("#tagSearch").autocomplete({
             source: data,
//            source: data.map(o => o.label),
            select:
                function( event, ui ) {
                    document.getElementById('customTagName').style.display = 'block';
                    document.getElementById('tagSubmit').disabled = false;
                // pass selected item to route fetch(`/fetch/wikidata/${key}`)
                    console.log(event, ui)
                }
        });
    });
}

</script>